@charset "utf-8";
/* 
    pp_home_styles.css
    Author: Jacob D
    Last Modified: Dec 9, 2022  
*/

#Home {
    background: rgb(180, 177, 226);
    color: black;
    display: flex;
    flex-flow: row wrap;
    width: 740px;
    height: 740px;
    margin: 20px auto;
}

#Home a{
    width: 320px;
    height: 320px;
    margin: auto;

}

a > img {
    width: 320px;
    height: 320px;
    margin: 0px auto;
 }
