
/* html style */

html {
    background: linear-gradient(rgb(245, 88, 237), rgb(253, 140, 248));
    font-size: 16px;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

/* body style */

body {
    background-color: rgba(233, 231, 231, 0.404);
    margin-left: auto;
    margin-right: auto;
    margin: 0px, auto;
    width: 980px;
    /* border: 1px solid red; */
 }

 ul {
	list-style: none;
	list-style-image: none;
}

 /* body * {
    /* border: 1px solid blue; */
 /* } */

 /* header styles */

 header {
    height: 150px;
 }
/* nav style */

body nav {
    background-color:rgba(151, 58, 238, 0.37);
    font-size: 1.5em;
    color: black;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
}

a#home {
    flex: 0 1 auto;
    padding-top: 10px;
}

nav > a#pagelink {
    flex: 1 1 auto;
    text-align: center;
    margin: 10px 5px;
    text-decoration: none;
    font-weight: strong;
    /* color: rgb(13, 13, 228); */
    font-size: 1em;
    color:  blue;
    transition: font-size 4s linear,
    color 1s linear,
    text-shadow 4s linear,
    text-decoration 4s linear;
    /* font-weight 8s; */
    /* display: inline-flex; */
 }

 a#pagelink:hover{
    font-size:  1.1em;
    color: rgb(69, 0, 158);
    text-shadow: 15px 15px 15px;
    text-decoration: underline;
    /* font-weight: bold; */
 }

 nav a {
    padding: 5px 10px;
    /* margin:  ; */
 }
 
 nav img {
    width: 30px;
    height: 30px
 }
 

/* header styles */

h1 {
    color: rgb(59, 4, 110);	
    font-size: 1.5em;
    text-align: left;
    background-color: rgb(173, 101, 240);
    padding: 10px;
    margin-left: 40px;
    border-radius: 30px;
    display: inline-flex
   /* padding: 0px 20px; */
}

h2 {
    color: rgb(59, 4, 110);
    margin: 30px 20px 30px 40px;

}

 /* section style */

section {
    margin: 0px 20px;
}

/* article style */

 article {
    background: rgb(180, 177, 226);
    border-radius: 90px 90px;
    border: 2px solid rgb(59, 4, 110);
    margin: 10px;
    padding: 20px 25px
 }

 /* aside style */
 
 aside {
    background: rgba(32, 28, 87, 0.699);
    padding: 5px 10px;
    color: azure;
    border: 3px solid white;
    border-radius: 30px;
    width: 95%;
    margin: auto;
 }

 /* footer style */

 footer {
    background-color:rgba(151, 58, 238, 0.37);
    padding: 10px;
    text-align: center;
 }

 footer h2 {
    text-align: left;
    margin: 20px;
    padding: 10px, 20px;
    font-size: 1.7;
 }

 table {
    border-collapse: collapse;
    width: 100%;
 }

 /* thead {
    /* background-color: rgb(180, 177, 226); 
 } */

#Email {
    width: 30%;
    /* text-align: left; */
    border-right: 2px solid black ;
}

#phone {
    width: 30%;
    /* text-align: center; */
}

#github {
    width: 40%;
    border-left: 2px solid black ;
    /* text-align: right; */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-size: 1.3em;
    font-weight: strong;
}

footer a {
    /* border: rgba(48, 48, 48, 0.18) solid 3px; */
    padding: 10px;
    border-radius: 20px;
    color: purple;
    text-decoration: none;
    font-size: 1.1em;
}

footer a:hover {
    background-color: rgba(148, 49, 240, 0.621);
    color: blue;
}

footer a:hover::after {
    color: black;
}
